@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Roboto:wght@700&display=swap");

body{
    
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 35px;
    background-color: #000;
    
    
    

}
.box-one{
    background-image: url('https://images.pexels.com/photos/6238037/pexels-photo-6238037.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
    background-size: 230vh;
   
    
     background-repeat: no-repeat;
    
    border: 1px solid #000;
    border-radius: 10px;
    

    /* estilo de posicionamento e largura */
   
   height: 600px;

   margin: 0 auto 0 auto; /*centralizando a DIV */
   
   
    
    
    
}


.box-two{
    margin-top: 30px;
}


input{
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    font-family: inherit;
    box-shadow: 4px 4px 0 #000;
    width: 300px;
    height: 30px;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 15px;
}

button{
    background-color: rgb(217, 255, 0);
    font-family: inherit;
    border-radius: 15px;
    padding: 5px;
}

.box-three{
    width: 400px;
    height: 100px;
    margin: 0 auto;
    background-color: rgb(245, 245, 244);
    border-radius: 5px;
    margin-top: 10px;
    border: solid;
    


}
.text-one{
    color: rgb(58, 7, 245);
    text-shadow: rgb(14, 13, 13) 1px 0px  1px;
    font-family: inherit;
    margin: 5px;
    
}
.text-two{
    text-align: center;
    

    
    color: red;
    text-shadow: black 2px 1px  2px; 
    font-family: inherit;
    
}

.page-title{
    
    text-shadow: rgb(127, 128, 126) 1px 0px  5px;
    
}
.page-subtitle{
    
    
    text-shadow: rgb(250, 238, 238) 1px 0px  5px;
    
}
